@charset "UTF-8";

body{
    height: 100%;
    background: blue url(wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}

section{
    position: relative;
    background-color: white;
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

article{
    border-radius: 15px;
    background-color: turquoise;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);


}