@charset "UTF-8";

.block1{
    flex: auto;
    background-color: aqua
}
.block2{
    background-color: rgb(255, 0, 128)
}
.block3{
    background-color: rgb(145, 255, 0)
}

.container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}